@import "./default/cross_dependant_styles";

.outline_navigation_bar {
  $basic-text-color: #fff !default;

  $outline-navigation-bar-basic-background-color: $basic-background-color-transparent !default;
  $outline-navigation-bar-active-chapter-color: $main-color !default;

  $outline-navigation-bar-sprite: "pageflow/themes/mdr/menu_sprite.png";

  $outline-navigation-bar-sprite-default-offset: -30px;
  $outline-navigation-bar-sprite-hover-offset: -85px;
  $outline-navigation-bar-sprite-pressed-offset: -140px;
  $outline-navigation-bar-sprite-deactivated-offset: -140px;

  @mixin button-sprite($offset, $active-offset: null) {
    .button {
      display: block;
      width: 40px;
      height: 40px;

      background-image: image-url($outline-navigation-bar-sprite);
      background-position-x: $offset;
      background-position-y: $outline-navigation-bar-sprite-default-offset;

      @include hover {
        background-position-y: $outline-navigation-bar-sprite-hover-offset;
      }

      @include pressed {
        background-position-y: $outline-navigation-bar-sprite-pressed-offset;
      }
    }

    .active .button {
      @if ($active-offset) {
        background-position-x: $active-offset;
      }
      @else {
        background-position-y: $outline-navigation-bar-sprite-hover-offset;
      }
    }
  }

  @mixin small-height {
    @media screen and (max-height: 870px) {
      @content;
    }
  }

  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  width: 85px;
  height: 100%;

  font-family: $standard-font;
  background-color: $outline-navigation-bar-basic-background-color;

  @import "./default/buttons";
  @import "./default/volume_box";
  @import "./default/scroller";

  .toggle {
    display: block;
    height: 50px;
    margin: 4px;

    .button {
      margin: 10px auto;
    }

    @include button-sprite(-22px, -89px);
  }

  .panel {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    bottom: 0;

    opacity: 0;
    visibility: hidden;
    @include transition(opacity 0.2s ease, visibility 0.2s ease);

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}
