@import "./default/cross_dependant_styles";

.outline_navigation_bar {
  $basic-text-color: #fff !default;

  $outline-navigation-bar-basic-background-color: $basic-background-color-transparent !default;
  $outline-navigation-bar-active-chapter-color: $main-color !default;

  $outline-navigation-bar-menu-box-background-color: #fff !default;

  $outline-navigation-bar-sprite: $navigation-bar-sprite !default;

  @mixin small-height {
    @media screen and (max-height: 870px) {
      @content;
    }
  }

  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  height: 100%;
  width: 18px;

  font-family: $standard-font;
  background-color: $outline-navigation-bar-basic-background-color;
  @include transition(width 0.2s ease);

  @import "./default/menu_item";
  @import "./default/menu_items";
  @import "./default/volume_box";
  @import "./default/share_box";
  @import "./default/credits_box";
  @import "./default/scroller";

  .toggle {
    height: 45px;
    left: -60px;
    @include menu-item-sprite(-22px, -89px);
  }

  .panel {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    bottom: 0;
    @include transition(opacity 0.2s ease, visibility 0.2s ease);

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}
