@import "./default/cross_dependant_styles";

.outline_navigation_bar {
  $basic-text-color: #fff !default;

  $outline-navigation-bar-basic-background-color: $basic-background-color-transparent !default;
  $outline-navigation-bar-active-chapter-color: $main-color !default;

  $outline-navigation-bar-menu-box-background-color: #fff !default;

  $outline-navigation-bar-sprite: $navigation-bar-sprite !default;

  @mixin small-height {
    @media screen and (max-height: 600px) {
      @content;
    }
  }

  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  height: 100%;

  font-family: $standard-font;
  background-color: $outline-navigation-bar-basic-background-color;
  @include transition(width 0.2s ease);
  @include user-select(none);

  &.fixed {
    min-width: 65px;
  }

  &.expandable {
    width: 18px;
  }

  &.buttons_active {
    width: 65px !important;
  }

  a:active {
    outline: none;
  }

  @import "./default/panel";
  @import "./default/menu_item";
  @import "./default/menu_items";
  @import "./default/toggle";
  @import "./default/volume_box";
  @import "./default/share_box";
  @import "./default/credits_box";
  @import "./default/scroller";
}
