<% if overview_button.enabled? %>
  <li class="toggle_overview menu_item">
    <a tabindex="2" class="navigation_index" title="<%= t('pageflow.public.open_overview') %>" data-active-title="<%= t('pageflow.public.close_overview') %>">
      <span class="button"></span>
      <span class="label"><%= t('.overview') %></span>
    </a>
  </li>
<% end %>
