.credits_box {
  font-size: 1em;
  min-width: 230px;
  min-height: 4px;
  bottom: 0;

  p {
    margin: 0 0 0.5em;
    text-align: left;
    font-size: 1em;
  }

  a.legal,
  a.copy {
    float: left;
    margin-right: 10px;
  }

  a {
    color: $main-color;
  }
}