.menu_item {
  position: relative;
  list-style: none;
  height: 10%;
  min-height: 63px;
  max-height: 70px;

  > a {
    display: block;
    height: 100%;
    text-decoration: none;
    margin: 0 4px;

    @include hover {
      p,
      .label {
        color: $main-color;
      }
    }

    &.active {
      p,
      .label {
        color: $main-color;
      }
    }

    &.deactivated {
      opacity: 0.4;

      .label {
        color: $basic-text-color !important;
      }
    }
  }

  .button {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }

  p,
  .label {
    text-align: center;
    color: $basic-text-color;
    font-size: 11px;
    display: block;
    padding: 0;
  }

  @include small-height {
    .label {
      display: none;
    }
  }

  .menu_box {
    position: absolute;
    right: 70px;
    z-index: 4;
    visibility: hidden;
    background-color: $outline-navigation-bar-menu-box-background-color;
    padding: 15px;

    p {
      color: $outline-navigation-bar-menu-box-color;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: -5px;
      width: 5px;
      height: 100%;
    }

    .menu_item {
      display: inline-block;
    }
  }

  @include hover {
    .menu_box {
      visibility: visible;
    }
  }

  &:focus,
  &.open,
  &.focused {
    .menu_box {
      visibility: visible;
    }
  }
}

@mixin menu-item-sprite($offset, $active-offset: null, $pressed-delta: 0, $hover-delta: 0) {
  $outline-navigation-bar-sprite-default-offset: -30px;
  $outline-navigation-bar-sprite-hover-offset: -85px;
  $outline-navigation-bar-sprite-pressed-offset: -140px;

  .button {
    background-image: image-url($outline-navigation-bar-sprite);
    background-position: $offset $outline-navigation-bar-sprite-default-offset;
  }

  > a {
    @include hover {
      .button {
        background-position: $offset ($outline-navigation-bar-sprite-hover-offset + $hover-delta);
      }
    }

    @include pressed {
      .button {
        background-position: $offset ($outline-navigation-bar-sprite-pressed-offset + $pressed-delta);
      }
    }

    &.deactivated {
      .button {
        background-position: $offset $outline-navigation-bar-sprite-default-offset !important;
      }
    }

    &.active {
      @if ($active-offset) {
        .button {
          background-position: $active-offset $outline-navigation-bar-sprite-default-offset;
        }

        @include hover {
          .button {
            background-position: $active-offset ($outline-navigation-bar-sprite-hover-offset + $hover-delta);
          }
        }

        @include pressed {
          .button {
            background-position: $active-offset ($outline-navigation-bar-sprite-pressed-offset + $pressed-delta);
          }
        }
      } @else {
        .button {
          background-position: $offset ($outline-navigation-bar-sprite-hover-offset + $hover-delta);
        }
      }
    }
  }
}

@mixin menu-item-shadow {
  .button:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    box-shadow: 0 0 20px 12px rgba(0, 0, 0, 0.4);
    z-index: -1;
  }
}

@mixin menu-item-shadow-off {
  .button:before {
    display: none;
  }
}
