.menu_items {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  bottom: 0;
  width: 100%;

  .volume {
    height: 25%;
    min-height: 100px;
    max-height: 200px;
  }

  .home {
    @include menu-item-sprite(-155px);
  }

  .top {
    @include menu-item-sprite(-909px);
  }

  .toggle_overview {
    @include menu-item-sprite(-222px);
  }

  .fullscreen {
    @include menu-item-sprite(-289px);
  }

  .hide_text {
    @include menu-item-sprite(-670px);
  }

  .share {
    @include menu-item-sprite(-555px);
  }

  .credits {
    @include menu-item-sprite(-622px);
  }

  .share_facebook {
    @include menu-item-sprite(-710px, $pressed-delta: 2px);
  }

  .share_google {
    @include menu-item-sprite(-847px, $pressed-delta: 2px);
  }

  .share_twitter {
    @include menu-item-sprite(-781px, $pressed-delta: 2px);
  }
}