.menu_items {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  bottom: 0;
  right: 0;
  width: 65px;

  .volume {
    height: 25%;
    min-height: 100px;
    max-height: 200px;
  }

  .button {
    @extend %pageflow_sprite_icon;
  }

  .home {
    @include pageflow-sprite-icon-home($target: ".button");
  }

  .top {
    @include pageflow-sprite-icon-top($target: ".button");
  }

  .top .deactivated {
    @include pageflow-sprite-icon-top("disabled", $target: ".button");
  }

  .toggle_overview {
    @include pageflow-sprite-icon-overview($target: ".button");
  }

  .toggle_overview .deactivated {
    @include pageflow-sprite-icon-overview("disabled", $target: ".button");
  }

  .fullscreen {
    @include pageflow-sprite-icon-fullscreen($target: ".button");
  }

  .fullscreen .active {
    @include pageflow-sprite-icon-fullscreen("active", $target: ".button");
  }

  .hide_text {
    @include pageflow-sprite-icon-hide-text($target: ".button");
  }

  .hide_text .active {
    @include pageflow-sprite-icon-hide-text("active", $target: ".button");
  }

  .share {
    @include pageflow-sprite-icon-share($target: ".navigation_share.button");
  }

  .credits {
    @include pageflow-sprite-icon-credits($target: ".button");
  }

  .share.google {
    @include pageflow-sprite-icon-google($target: ".button");

    &.active {
      @include pageflow-sprite-icon-google("active", $target: ".button");
    }
  }

  .share.twitter {
    @include pageflow-sprite-icon-twitter($target: ".button");

    &.active {
      @include pageflow-sprite-icon-twitter("active", $target: ".button");
    }
  }

  .share.facebook {
    @include pageflow-sprite-icon-facebook($target: ".button");

    &.active {
      @include pageflow-sprite-icon-facebook("active", $target: ".button");
    }
  }
}
