.mobile_sharing {
  li {
    > a {
      display: block;
      margin-left: 78px;
      color: white;
      text-decoration: none;
      font-size: 24px;
      padding-top: 12px;
      border: 0;
      height: 80px;

      &:before {
        content: "";
        position: absolute;
        width: 42px;
        height: 37px;
        background-image: image-url("pageflow/themes/default/mobile_navigation/sharing_icons_sprite.png");
        background-size: 100% auto;
        left: 20px;
        top: 30px;
      }

      &.facebook:before {
        background-position: center top;
      }

      &.twitter:before {
        background-position: center 122px;
      }

      &.google:before {
        background-position: center bottom;
      }
    }
  }

  .sub_share a {
    color: white;
    font-family: SourceSansPro;
    font-size: 13px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    width: auto;
    display: block;
    margin: 0 1em 1em 1em;
    padding: 1em 0;

    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}

.sub_share {
  display: none;
}
