.panel {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  bottom: 0;
  @include transition(opacity 0.2s ease, visibility 0.2s ease);

  &.active {
    opacity: 1;
    visibility: visible;
  }
}