.parent_page {
  @include background-icon-center($color: #ddd);
  @include fa-arrow-left-icon;
  cursor: pointer;
  pointer-events: all;
  position: absolute;
  top: 0;
  left: -105px;
  width: 45px;
  height: 45px;
  visibility: hidden;
  display: none;
  @include transform(translate3d(0, -100px, 0));
  @include transition(transform 0.4s ease, visibility 0.4s, right 250ms);

  &.is_visible {
    visibility: visible;
    @include transform(translate3d(0, 0, 0));
  }

  @include phone {
    display: block;
  }

  @include pad_portrait {
    display: block;
  }

  &:before {
    z-index: 2;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    background-color: rgba(53, 53, 53, 0.9);
    @include box-shadow(0 0 7px #ccc);
    z-index: 1;
  }
}
