.chapters_panel {
  top: 60px;
  overflow: hidden;

  .scroller {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 5px;
    width: 100%;

    &.animated {
      @include transition(top 0.5s ease);
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    position: absolute;
  }

  li {
    margin-left: 6px;
    padding-bottom: 2px;
  }

  a {
    display: block;
    padding: 0 12px 0 6px;

    text-decoration: none;
    color: #fff;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    border-left: solid 6px rgba(255, 255, 255, 0.3);
    white-space: nowrap;

    height: 10px;
    @include transition(height 0.5s ease);
  }

  span {
    padding: 10px 0;
    display: block;
  }

  a.in_active_chapter {
    color: $outline-navigation-bar-active-chapter-color;
    border-left: solid 6px $outline-navigation-bar-active-chapter-color;
  }
}

&.fixed {
  .chapters_panel {
    li {
      margin-left: 3px;
    }

    a {
      border-left-width: 2px;
      padding: 0 10px 0 6px;
    }
  }
}

&.expandable {
  .chapters_panel {
    span {
      opacity: 0;
    }
  }
}

&.fixed,
&.expanded {
  .chapters_panel {
    a {
      height: 40px !important;
    }

    span {
      opacity: 1;
      @include transition(opacity 0.5s ease);
      @include transition-delay(0.3s);
    }
  }
}