.share_box {
  width: 245px;
  padding: 0 5px 10px 5px;

  a {
    float: left;
    text-decoration: none;
    width: 70px;
  }

  p {
    font-size: 9px;
    color: #000;
  }

  .button {
    margin: auto;
  }
}