.share_box {
  top: 0;
  width: 210px;

  a {
    float: left;
    text-decoration: none;
    width: 70px;
  }

  a.share {
    width: 39px;
  }

  p {
    font-size: 9px;
    margin: 0;
  }

  .menu_item {
    padding: 0 10px;
    min-height: 0;
  }

  .button {
    margin-left: 5px;
  }
}
