.toggle {
  height: 45px;
  position: absolute;

  &.buttons {
    @include menu-item-sprite(-22px, -89px);
  }

  &.chapters {
    @include menu-item-sprite(-22px);
  }

  &.share,
  &.credits {
    opacity: 0;
    visibility: hidden;
    @include transition(opacity 0.5s ease, visibility 0.5s ease);
  }

  &.share {
    @include menu-item-sprite(-555px);
    top: 80px;
  }

  &.credits {
    @include menu-item-sprite(-622px);
    bottom: 10px;
  }

  &.mobile_only {
    display: none;
    left: -55px;
    @include menu-item-shadow;

    .has_mobile_platform & {
      display: block;
    }

    @include mobile {
      display: block;
    }
  }

  &.desktop_only {
    right: 15px;

    .has_mobile_platform & {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }

  .button {
    position: relative;
  }
}

&.fixed .toggle,
&.buttons_active .toggle {
  &.buttons {
    right: 10px;
  }
}

&.expanded .toggle {
  &.share,
  &.credits {
    opacity: 1;
    visibility: visible;
  }
}

&.expandable {
  .toggle {
    @include menu-item-shadow;
  }

  &.expanded .toggle.desktop_only {
    @include menu-item-shadow-off;
  }
}
