.toggle {
  height: 45px;
  position: absolute;

  &.buttons, &.share, &.credits, &.chapters {
    .button {
      @extend %pageflow_sprite_icon;
    }
  }

  &.chapters {
    @include pageflow-sprite-icon-menu($target: ".button");

    .active {
      @include pageflow-sprite-icon-menu("active", $target: ".button");
    }
  }

  &.buttons {
    @include pageflow-sprite-icon-menu($target: ".button");

    .active {
      @include pageflow-sprite-icon-menu("active", $target: ".button");
    }
  }

  &.share,
  &.credits {
    opacity: 0;
    visibility: hidden;
    @include transition(opacity 0.5s ease, visibility 0.5s ease);
  }

  &.share {
    @include pageflow-sprite-icon-share($target: ".button");
    top: 80px;

    .active {
      @include pageflow-sprite-icon-share("active", $target: ".button");
      color: active;
    }
  }

  &.credits {
    @include pageflow-sprite-icon-credits($target: ".button");
    bottom: 10px;

    .active {
      @include pageflow-sprite-icon-credits("active", $target: ".button");
    }
  }

  &.mobile_only {
    display: none;
    left: -55px;
    @include menu-item-shadow;

    .has_mobile_platform & {
      display: block;
    }

    @include mobile {
      display: block;
    }
  }

  &.desktop_only {
    right: 15px;

    .has_mobile_platform & {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }

  .button {
    position: relative;
  }
}

&.fixed .toggle,
&.buttons_active .toggle {
  &.buttons {
    right: 10px;
  }
}

&.expanded .toggle {
  &.share,
  &.credits {
    opacity: 1;
    visibility: visible;
  }
}

&.expandable {
  .toggle {
    @include menu-item-shadow;
  }

  &.expanded .toggle.desktop_only {
    @include menu-item-shadow-off;
  }
}
