.navigation_volume_box {
  height: 100%;
  cursor: default;

  .volume-control {
    height: 100%;

    &:before,
    &:after,
    .volume-level:before {
      @extend %pageflow_sprite_icon;
      position: absolute;
      width: 28px;
      height: 19px;
      content: " ";
      background-repeat: no-repeat;
      top: 8px;
    }

    &:before {
      @include pageflow-sprite-icon-volume-down;
      top: 80%;
    }

    &:after {
      @include pageflow-sprite-icon-volume-up;
      top: 7%;
    }

    &:after,
    &:before {
      @include small-height {
        display: none;
      }
    }
  }
}

.volume-control {
  margin: 0px 20px;

  .volume-slider {
    width: 5px;
    height: 50%;
    background-color: gray;
    top: 25%;
    position: absolute;
    left: 30px;

    @include small-height {
      top: 10%;
      height: 80%;
    }
  }

  .volume-level {
    height: 100%;
    bottom: 0;
    position: absolute;

    &:before {
      display: block;
      content: "";
      background-position: -66px top;
      top: -9px !important;
      width: 18px !important;
      height: 16px !important;
      left: -6px !important;
    }
  }
}

.volume-level {
  background-color: $main-color;
}
